@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Модуль 3.</h1> <br>
    <h1 class="display-4">ASP.NET Core Razor Pages.</h1> <br>
    <h1 class="display-4">Часть 1</h1> <br>
    <h1 class="display-4">Часть 2</h1> <br>
</div>
