@page "{handler?}"
@model ScreeningsModel
@{
    ViewData["Title"] = "Рассписание показа фильмов";
}

<form method="post">
    <div class="container mt-3">
        <div class="row">
            <select class="form-select form-select-lg w-25 col-5" aria-label="" name="chapter">
                <option value="1">Название фильма</option>
                <option value="2">Режисер</option>
                <option value="3">Стиль</option>
                <option value="4">Краткое описание</option>
                <option value="5">Список сеансов</option>
            </select>
            <input class="form-control col" id="formFileLg" type="search" name="query"/>
            <button type="submit" asp-page="SearchFilms" class="btn btn-info w-auto fw-bold text-center text-light">Поиск</button>
        </div>
    </div>
</form>


<h1 class="fw-bold text-center mt-5">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var item in Model.films)
    {
        <div class="card mt-4 mb-4">
            <a class="card-header nav-link fs-1 fw-bold" asp-area="" asp-page="/FilmInfo" asp-route-id=@item.id>@item.movieTitle</a>
            <div class="card-body">
                <h4 class="card-title mb-4">Расписание показов</h4>
                @foreach (var scrinings in item.listOfScreenings)
                {
                    @foreach (var date in scrinings.date)
                    {
                        <h5 class="card-title mt-4 mb-4">@date</h5>
                        @foreach (var time in scrinings.time)
                        {
                            <span class="badge bg-secondary fs-6">@time</span>                        
                        }                    
                    }
                }
            </div>
        </div>   
    }
</div>